@media (max-width: 1680px) and (max-height: 917px) {
	.patients-name-and-rank .room-name {
		font-size: 30px;
	}

	.patients-name-and-rank .welcoming {
		font-size: 25px;
	}

	.patients-name-and-rank .patient-name {
		font-size: 35px;
	}

	.patients-name-and-rank .number {
		font-size: 40px;
	}

	.patients-name-and-rank .patient-number {
		font-size: 60px;
	}

	.panel-container .waiting-list {
		font-size: 30px;
	}

	.ranking-screen .footer {
		font-size: 20px;
	}
}

@media (max-width: 1400px) {
	.app .signin-screen {
		width: 40%;
	}

	.signin-screen .image-container {
		display: none;
	}
}

@media (max-width: 900px) {
	.app .signin-screen {
		width: 100%;
		margin-top: 50px;
	}

	.signin-screen .signin-panel .logo {
		margin-top: 20px;
	}
}

@media (max-width: 400px) {
	.signin-screen .signin-panel .logo {
		width: 250px;
	}
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Times New Roman";
}

#root {
	height: 100%;
	overflow: auto;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}

.app {
	height: 100%;
	background-color: white;
	padding: 0;
}

.ranking-screen {
	background-color: #1B4889;
	height: 100%;
}

hr {
	width: 950px;
	height: 1px;
	color: lightgray;
	background-color: lightgray;
	border: none;
}

.header-title {
	position: relative;
	text-align: center;
	color: white;
}

.nancy-logo {
	position: fixed;
	top: 15px;
	left: 0;
	width: 280px;
}

.htgsoft-logo {
	position: fixed;
	top: 15px;
	right: 0;
	width: 230px;
}

.header-container {
	padding: 10px 20px 0 20px;
}

.header-container span {
	font-size: 40px;
	font-weight: bold;
}

.title-container {
	display: inline-block;
	margin-top: 10px;
}

.current-time {
	text-align: center;
	color: #ff1e82;
	font-weight: bold;
	font-size: 40px;
}

.panel-container {
	width: 100%;
	height: 75%;
}

.patients-name-and-rank {
	padding-top: 20px;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	position: relative;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.patients-name-and-rank .section {
	width: 49%;
}

.patients-name-and-rank .section .sub-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.patients-name-and-rank .section.left {
	display: inline-flex;
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
	justify-content: center;
	align-items: center;
}

.patients-name-and-rank .section.left.one-room-layout {
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.patients-name-and-rank .section.right {
	display: inline-flex;
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
	justify-content: center;
	align-items: center;
}

.patients-name-and-rank .section .sub-section.left {
	width: 69%;
}

.patients-name-and-rank .section .sub-section.right {
	width: 29%;
}

.number {
	color: white;
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 0;
}

.patient-number {
	margin: 40px 0 0 0;
	color: yellow;
	font-size: 70px;
	font-weight: bold;
}

.patient-number.change-room {
	margin: 0;
}

.room-name {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 40px;
	color: red;
	font-weight: bold;
	text-align: center;
}

.welcoming {
	margin: 10px auto 0 auto;
	font-size: 35px;
	color: white;
	text-align: center;
}

.patient-name {
	margin-top: 20px;
	font-size: 45px;
	color: yellow;
	font-weight: bold;
	text-align: center;
}

.waiting-list {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	position: relative;
	text-align: left;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	color: white;
	height: 60%;
}

.waiting-list .section {
	width: 49%;
	height: 100%;
}

.waiting-list .section .sub-section {
	/*margin-left: 200px;*/
	margin-left: 80px;
}

.waiting-list .section .sub-section p {
	text-align: left;
}

.footer {
	white-space: nowrap;
	font-size: 30px;
	font-weight: bold;
	color: white;
	position: fixed;
	width: 100%;
	bottom: 30px;
	overflow: hidden;
}

.footer .missed-turns {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.footer .marquee div {
	display: inline;
}

.footer .room-name-in-footer {
	color: white;
}

.footer .patient-number-in-footer {
	color: yellow;
}

.footer .footer-item {
	margin-left: 30px;
	flex: 0.5;
}

.footer hr {
	margin-bottom: 25px;
}

.vertical-separator {
	display: inline-block;
	background-color: white;
	width: 1px;
	height: 300px;
}

.vertical-separator.half-height {
	height: 50%;
}

#waiting-list-sections-separator {
	height: 100%;
}

.hide {
	display: none !important;
}

.line-breaks-container {
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
}

.line-breaks-container hr {
	width: 600px;
}

.marquee {
	/* Starting position */
	-moz-transform:translateX(100%);
	-webkit-transform:translateX(100%);
	transform:translateX(100%);
	/* Apply animation to this element */
	-moz-animation: scroll-left 40s linear infinite;
	-webkit-animation: scroll-left 40s linear infinite;
	animation: scroll-left 40s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
	0%   { -moz-transform: translateX(100%); }
	100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
	0%   { -webkit-transform: translateX(100%); }
	100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
	0% {
		-moz-transform: translateX(100%); /* Browser bug fix */
		-webkit-transform: translateX(100%); /* Browser bug fix */
		transform: translateX(100%);
	}
	100% {
		-moz-transform: translateX(-100%); /* Browser bug fix */
		-webkit-transform: translateX(-100%); /* Browser bug fix */
		transform: translateX(-100%);
	}
}
